body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    direction: ltr;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-content: space-around;
   
    
}
.main{
    background-color: blue;
    margin-top: 15PX;
    padding: 10px;
    border-radius: 12px;
    box-sizing: border-box;

}
#logo{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
label{
    color: aliceblue;
    font-weight: bolder;
    font-size: 18px;
    margin: 5px;
}
#logo:hover{
    color: yellow
}

form{
    margin: 10;
    padding: 30px;
    width: 400px;
    display: flex;
    justify-content: center;
    
}

button {
    font-size: 14px;
    font-weight: bold;
    margin-left: 3px;
    float: right;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0.5px;
}
button:hover, button:active{
    background-color: yellow;
    color: black;
}

button:active{
    background-color: rgb(145, 145, 28);
    color: black;
}



form label, fomr input {
    float: left;
    clear: both;
}

form input{
    border: 1px solid black;
    display: inline-block;
}